
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar area style start here  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}
.secondary-bg {
    background-color: #fff8f3;
}

.text-primary {
    color: #fd6e0a;
}
.btn-primary {
    background-color: #fd6e0a;
    font-weight: 700;
    font-size: 22px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* banner area style start here  */
.banner-container{
    /* width: 998px; */
    height: 582px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 20px;
}
.btn-contact{
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    font-weight: 700;
    font-size: 22px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}