
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar area style start here  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}
.secondary-bg {
    background-color: #fff8f3;
}

.text-primary {
    color: #fd6e0a;
}
.btn-primary {
    background-color: #fd6e0a;
    font-weight: 700;
    font-size: 22px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* banner area style start here  */
.banner-container{
    /* width: 998px; */
    height: 582px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 20px;
}
.btn-contact{
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    font-weight: 700;
    font-size: 22px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* main section start here  */
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
.why-web-developer-container{

}
.why-web-developer-container-heading{
    text-align: center;
}
.why-web-developer-container-heading h1{
    margin-bottom: 15px;
}
.web-development-section-container {
    border: 1px solid red;
    height: 650px;
    max-width: 1440px;
    /* background-color: black; */
}
.web-development-content{
    display: flex;
    /* border: 1px solid blue; */
    width: 90%;
    margin: 0 auto;
}
/* .banner-text-container button{
    /* margin-right: 565px; */
    /* padding: 15px 30px;
    background-color: white;
    border: 1px solid black;
    color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    /* margin-right: 350px;
    margin-top: 20px; */

.btn-learn-more{
    background-color: white;
    color: black;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 5px;

}

.web-development-text-container{
    width: 50%;
    /* border: 1px solid green; */
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 25px;
}
.web-development-image-container{
    width: 50%;
    /* border: 1px solid blue; */
    /* height: 650px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-development-image-container img{
    width: 60%;
    /* height: 650px; */
}

.video{
    display: flex;
    justify-content: center;
    margin-left: 350px;
    margin-top: -100px;
}
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 25px;
}

.next-target{
    display: flex;
}
